{% extends "header.html" %}

{% load crispy_forms_tags %}
{% load i18n avatar_tags %}

{% block content %}

<div class="text-center pt-7">
  <h2>Update Profile Picture</h2>
</div>

<div class="container-fluid mt-5 mx-3">
  <div class="row justify-content-center">
    <div class="col-7">
      <div class="card shadow">

        <div class="card-body pl-8">
          <h4>Your current profile picture:</h4>

          <center>
            <p class="text-center">{% avatar user %}</p>
          </center>

          <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
            {{ upload_avatar_form.as_p }}
            <p>
              {% csrf_token %}
              <input type="submit" class="btn btn-primary" value="{% trans "Upload" %}" />
            </p>
          </form>
        </div>

        <div class="text-left">
          <a class="btn" href="{% url 'user' user.id %}">
            <i class="fa fa-chevron-left fa-1x"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
