{% extends "header.html" %}
{% load i18n avatar_tags %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid mt-5 mx-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card shadow">
                <div class="card-body pt-5 pl-5">
                    <h4>{% trans "Please select the avatars that you would like to delete." %}</h4>
                    {% if not avatars %}
                    {% url 'avatar_change' as avatar_change_url %}
                    <p>{% blocktrans %}You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.{% endblocktrans %}</p>
                    {% else %}
                    <form method="POST" action="{% url 'avatar_delete' %}">
                        <ul>
                            {{ delete_avatar_form.as_ul }}
                        </ul>
                        <p class="text-center pl-6 pb-5">{% csrf_token %}<input type="submit" class="btn btn-primary" value="{% trans "Delete Selected" %}"></p>
                    </form>
                    {% endif %}
                </div>
                <div class="text-left pb-2">
                <a class="btn" href="{% url 'avatar_change' %}">
                  <i class="fa fa-chevron-left fa-2x"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
