{% extends "header.html" %}
{% block content %}
{% load static %}

<section>
    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-12 col-md-6 offset-md-1 omd-6 offset-md-1 order-md-2">
          <div class="position-relative h-100 vw-50 d-none d-md-block">
            <!-- Picture -->
            <div class="h-100 w-100">
              <div class="w-100 h-100 bg-cover" style="background-image: url({% static 'dancing.png' %});"></div>
            </div>
          </div>

        </div>
        <div class="col-5 col-md-5 py-14 py-md-14 order-md-1">
          
          <!-- Heading -->
          <h1 class="display-3">
            Let's get you <span class="text-success">signed in.</span>
          </h1>

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-12 col-lg">

                <div class="form-group my-3">
                  <input type="email" name="login" required class="form-control" placeholder="email address">
                </div>

                <div class="form-group my-3">
                  <input type="password" name="password" required class="form-control" placeholder="password">
                </div>
                
                {% for error in form.non_field_errors %}
                    {% if "password" in error %}
                        <strong style='color:red;'>{{error}}</strong>
                    {% endif %}
                {% endfor %}

                <button type="submit" class="btn btn-block btn-primary shadow lift">Let me in.</button>
                <a class="nav-link" href="{% url 'account_reset_password' %}">Forgot your password?</a>
              </div>
            </div>
          </form>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

{% endblock %}