{% extends "header.html" %}
{% block content %}

<section>
    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-12 col-md-6 offset-md-1 order-md-2">
          <div class="position-relative h-100 vw-50 d-none d-md-block">
            <!-- Picture -->
            {% load static %}
            <div class="h-100 w-100">
              <div class="w-100 h-100 bg-cover" style="background-image: url({% static 'old-lady.jpg' %});"></div>
            </div>
          </div>

        </div>
        <div class="col-5 col-md-5 py-10 order-md-1">

          <!-- Heading -->
          <h1 class="display-3">
            Let's get you <span class="text-success">signed up.</span>
          </h1>

          <form class="signup" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-12 col-lg">

                <div class="form-group my-3">
                  <input type="email" name="email" class="form-control" placeholder="email address" required>
                </div>

                <div class="form-group my-3">
                  <input type="text" name="first_name" class="form-control" maxlength="30" placeholder="first name" required>
                </div>

                <div class="form-group my-3">
                  <input type="text" name="last_name" class="form-control" maxlength="150" placeholder="last name" required>
                </div>

                <div class="form-group my-3">
                  <input type="date" name="date_of_birth" class="form-control" placeholder="date of birth" required>
                </div>

                <div class="form-group my-3">
                  <input type="text" name="gender" class="form-control" maxlength="255" placeholder="gender" required>
                </div>

                <div class="form-group my-3">
                  <input type="password" name="password1" class="form-control" placeholder="password" required>
                </div>

                <div class="form-group my-3">
                  <input type="password" name="password2" class="form-control" placeholder="verify password" required>
                </div>

                <button type="submit" class="btn btn-block btn-primary shadow lift">Sign me up.</button>
              </div>
            </div>
          </form>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

{% endblock %}


<!-- <form class="signup" id="signup_form" method="post" action="/accounts/signup/">
  {% csrf_token %}
  <p><label for="id_email">E-mail:</label> <input type="email" name="email" required id="id_email"></p>
<p><label for="id_first_name">First Name:</label> <input type="text" name="first_name" maxlength="255" required id="id_first_name"></p>
<p><label for="id_last_name">Last Name:</label> <input type="text" name="last_name" maxlength="255" required id="id_last_name"></p>
<p><label for="id_date_of_birth">Date of birth:</label> <input type="text" name="date_of_birth" required id="id_date_of_birth"></p>
<p><label for="id_gender">Gender:</label> <input type="text" name="gender" maxlength="255" required id="id_gender"></p>
<p><label for="id_password1">Password:</label> <input type="password" name="password1" placeholder="Password" required id="id_password1"></p>
<p><label for="id_password2">Password (again):</label> <input type="password" name="password2" placeholder="Password (again)" required id="id_password2"></p> -->
