{% extends 'header.html' %}
<head>
  <script>
      {% if mess %}
          {% for message in mess %}
              alert(message);
          {% endfor %}
      {% endif %}
  </script>
</head>

{% block content %}

<div style="position:relative; top:20px">
  <center>
    <h2>Grow your squad.</h2>
  </center>
</div>

<section class="pt-6 pt-md-8 pb-8 mb-md-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Enter a user's email address to send them a request to join squads. If they accept, you will join squads.</p>

        <form method='POST'>
          {% csrf_token %}

          <div class="form-group my-3">
            <input type="email" name="email" class="form-control" placeholder="email address">
          </div>

          <button type="submit" name="add" class="btn btn-block btn-primary shadow lift">Add User</button>
          {% if squad_size > 1 %}
            <button type="submit" name="leave" class="btn btn-block btn-primary shadow lift">Leave Squad</button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</section>




{% endblock %}
