{% extends 'header.html' %}
{% block content %}

<div style="position:relative; top:20px">
  <center>
    <h2>Grow your squad.</h2>
  </center>
</div>

<section class="pt-6 pt-md-8 pb-8 mb-md-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Enter a user's email address to add them to your squad.</p>

        <form method='POST'>
          {% csrf_token %}
          <div class="form-group my-3">
            <input type="email" name="email" class="form-control" placeholder="email address" required>
          </div>
          <button type="submit" class="btn btn-block btn-primary shadow lift">Add User</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
