<!DOCTYPE html>

<style>
    .card {
        align-content: center;
    }
</style>

{% extends 'header.html' %} {% block content %}

<br>
<div class="row">
    {% for event in events %}
    <div class="col s12 m6" style="width: 18rem;">
        <div class="card">
            <div class="card-image">
                {% if event.performer_image_url %} <!-- the API doesn't give an image for all events-->
                    {% load static %}
                    <img src={% static "default-performer-image.jpg" %}>
                {% else %}
                    <img src={{event.performer_image_url}}>
                {% endif %}
            </div>
            <div class="card-content" style="height: 16rem;">
                <p class="teal-text text-lighten-2">{{event.performer_names}}</p>
                <p>{{event.venue_name}}</p>
                <p>{{event.datetime}}</p>
                <br>
                <form action="#" method="get">
                    <button class="btn-small waves-effect waves-light teal lighten-2" type="submit" name="interested" value={{event.id}}>Interested</button>
                    <button class="btn-small waves-effect waves-light teal lighten-2" type="submit" name="going" value={{event.id}}>Going</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %} {% endblock %}
</div>