<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Up</title>
</head>
<body>
{% if user.is_authenticated %}
    Hi {{ user.email }}!
    <p><a href="{% url 'events' %}">Events Page</a></p>
    <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'account_login' %}">Log In</a> |
    <a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}
</body>
</html>
