{% extends 'header.html' %}

<body>

{% block content %}
<p>Logged in as {{ user.first_name }}.</p>
<br><br><br>


<div class="carousel carousel-slider center">
  {% if users %}
  {% for user in users %}
  <div class="carousel-item red white-text" href="#one!">
    <h2><a class="white-text" href="{% url 'user' user.id %}">{{ user.first_name }}</a></h2>
    <p class="white-text">{{user.bio}}</p>
    <br><br><br>
    <form action="#" method="POST">
      {% csrf_token %}
      <input type="hidden" name="swipee_id" value="{{ user.id }}">
      <!-- Dislike Someone -->
      <button class="btn waves-effect white grey-text darken-text-2" type="submit" name="match" value="False">
        <i class="material-icons">thumb_down</i></button>
      <!-- like Someone -->
      <button class="btn waves-effect white grey-text darken-text-2" type="submit" name="match" value="True">
        <i class="material-icons">thumb_up</i></button>
    </form>
    </div>
    {% if popup == 1 %}
    <div id="modal1" class="modal">
      <div class="modal-title">
              <h4>CONGRATULATIONS!</h4>
              <div class="modal-content">
                <h5>You matched with {{user.first_name}}</h5>
              </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close btn orange">Message</a>
        <a href="#!" class="modal-close btn orange">Keep Swiping</a>
      </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  {% else %}
    <p>There's no one in this stack. To be in this stack, people have to be interested in this event, they can't have swiped left on you,
    you can't have swiped on them in any direction, and they can't be you.</p>
  {% endif %}
</div>

<!-- Add javascript and jquery per page that requires it -->
<!-- Jquery Import -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
</script>
<!-- Using Carousel feature in materialize css -->
<script>
	$(document).ready(function() {
		$('.carousel.carousel-slider').carousel({fullWidth: true, noWrap: true});
    $('.modal').modal({dismissible: false,});
    $('.modal').modal('open');
	});
</script>
{% endblock %}
</body>
