{% extends 'header.html' %}

{% load avatar_tags %}
{% load static %}

{% block content %}

<div class="text-center pt-7">
<h2>Squad Up</h2>
</div>
<section class="pt-6 pt-md-5 pb-8 mb-md-8">
  <div class="container">
    <div class="row flex-grow-1 overflow-hidden">
      <div class="card shadow">
        <div class="card-body">
          <div class="list-group-item shadow">
            <div class="row">
              {% for user in users %}
                <div class="col-3 d-flex my-2">
                  <div class="card shadow lift pt-5">
                    <center>
                      {% avatar user %}
                    </center>
                    <div class="card-body">
                      <h3 class="card-title text-center pt-5">
                        <a href="{% url 'user' user.id %}">{{ user.first_name }}</a>
                      </h3>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <center>
            <a style = "position:relative; top:15px" class="btn btn-primary" href="{% url 'edit_squad' user.squad.id %}">Edit Your Squad</a>
          </center>
        </div> <!-- closes body of big card that holds all events -->
      </div> <!-- closes big card that holds all events -->
    </div> <!-- closes column that holds card with all events -->
  </div> <!-- closes row that holds everything -->
</section>

{% endblock %}
