.events .cards {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0;
  justify-content: space-around;
}

.events .card {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  margin: 0.5px;
  color: white;
  width: 230px;
  height: 220px;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}