<!doctype html>

{% extends 'header.html' %}

{% block content %}

<h4>{{ requested_user.first_name }}</h4>

<h5>Bio</h5>
<p>{{ requested_user.bio }}</p>

{% if user.id == requested_user.id %}
<!-- on the left is the user's actual ID, on the right is the ID in the URL -->
<br>
<a class="btn btn-primary" href="{% url 'edit_profile' user.id %}">Edit Your Profile</a>
<br><br>
{% endif %}

<h5>Events this user interested in:</h5>
{% for interested in requested_user.interested.all %}
  <p>{{interested}}</p>
{% endfor %}

<h5>Events this user is going to:</h5>
{% for going in requested_user.going.all %}
  <p>{{going}}</p>
{% endfor %}

{% endblock %}

</html>
